/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/combined_favicon_and_tab_close_button.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Show tab close button when cursor is over the tab icon */

.tab-close-button {
  -moz-box-ordinal-group: 0;
  display: -moz-box !important;
  position: relative;
  margin-inline: -4px -20px !important;
  padding-inline-start: 7px !important;
  z-index: -1;
  visibility: hidden;
  width: unset !important;
}
.tabbrowser-tab[pinned] .tab-close-button {
  display: none !important;
}
.tabbrowser-tab:hover .tab-close-button {
  background-color: var(
    --lwt-selected-tab-background-color,
    var(--toolbar-bgcolor)
  ) !important;
  background-image: linear-gradient(
    var(--toolbarbutton-hover-background),
    var(--toolbarbutton-hover-background)
  );
}

/**** ONLY USE ONE OF THE FOLLOWING ****/
/**** These select the behavior of a scenario where the page has no favicon ****/

/*** Option 1 - no favicon - no close-button ***/

/*
.tab-icon-stack:hover ~ .tab-close-button, .tab-close-button:hover{ visibility: visible; z-index: 1 }
*/

/*** Option 2 - No icon - always show close-button ***/

/*
.tab-icon-stack:hover ~ .tab-close-button,
.tab-close-button:hover,
.tabbrowser-tab:not([image]) .tab-close-button{ visibility: visible; z-index: 1 }
.tabbrowser-tab:not([image]) .tab-close-button{ margin-inline-end: 0 !important; }
*/

/*** Option 3 - No icon - show close-button when cursor is over the tab ***/

.tab-icon-stack:hover ~ .tab-close-button,
.tab-close-button:hover,
.tabbrowser-tab:not([image]):hover .tab-close-button {
  visibility: visible;
  z-index: 1;
}
.tabbrowser-tab:not([image]):hover .tab-close-button {
  margin-inline-end: 0 !important;
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_menubar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes menubar slide over tabs toolbar when hovered */
/* Menubar will be shown when cursor touches top of the spacers on both side of tabs. Window controls will be in menubar, so they are automatically hidden */
/* Make sure you have menubar enabled */

:root {
  --uc-menubar-spacer: 6px;
}
:root[sizemode="maximized"] {
  --uc-menubar-spacer: 1px;
}

#nav-bar-customization-target,
#PanelUI-button,
#nav-bar-overflow-button,
#TabsToolbar > .toolbar-items {
  position: relative;
  z-index: 5;
}
#toolbar-menubar > spacer {
  flex-grow: 1;
}

#toolbar-menubar > spacer,
#toolbar-menubar > .titlebar-buttonbox-container {
  order: 1000;
}

#TabsToolbar > .titlebar-spacer {
  display: -moz-box !important;
}

#toolbar-menubar:not([customizing]) {
  --uc-menubar-height: 34px;
  position: fixed;
  display: flex;
  width: 100vw;
  height: var(--uc-menubar-height);
  /* --uc-menubar-extra-margin is defined in toolbars_below_content.css */
  margin-top: calc(
    var(--uc-menubar-spacer) - var(--uc-menubar-height) +
      var(--uc-menubar-extra-margin, 0px)
  );
  transition: margin-top 150ms linear !important;
  -moz-window-dragging: no-drag;
  z-index: 4;
}

#toolbar-menubar:hover {
  background-color: var(--toolbar-bgcolor) !important;
  margin-top: var(--uc-menubar-extra-margin, 0px) !important;
  z-index: 6;
}

/* This exists only for compatibility reasons with some other styles */
#navigator-toolbox {
  --uc-hide-window-control-space: 0;
}

.tabbrowser-tab:first-child {
  counter-reset: nth-tab 0;
} /* Change to -1 for 0-indexing */
.tab-text::before {
  content: counter(nth-tab) " ";
  counter-increment: nth-tab;
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_main_toolbar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* This style hides the main toolbar and shows it when the cursor is over the tabs toolbar as well as whenever the focus is inside nav-bar, such as when urlbar is focused. */

:root {
  --uc-navbar-transform: -40px;
}
:root[uidensity="compact"] {
  --uc-navbar-transform: -34px;
}

:root[sessionrestored]
  :where(#nav-bar, #PersonalToolbar, #tab-notification-deck) {
  transform: translateY(var(--uc-navbar-transform));
}

:root:is([customizing], [chromehidden*="toolbar"])
  :where(#nav-bar, #PersonalToolbar, #tab-notification-deck) {
  transform: none !important;
  opacity: 1 !important;
}

#nav-bar:not([customizing]) {
  opacity: 0;
  transition: transform 400ms ease 0ms, opacity 400ms ease 0ms !important;
  position: relative;
  z-index: 2;
}
#TabsToolbar {
  position: relative;
  z-index: 3;
}

/* Show when toolbox is focused, like when urlbar has received focus */
#navigator-toolbox:focus-within > .browser-toolbar {
  transform: translateY(0);
  opacity: 1;
  transition-duration: 500ms, 200ms !important;
  transition-delay: 0s !important;
}
/* Show when toolbox is hovered */
#titlebar:hover ~ .browser-toolbar,
#nav-bar:hover,
#nav-bar:hover + #PersonalToolbar {
  transform: translateY(0);
  opacity: 1;
  transition-duration: 500ms, 200ms !important;
  transition-delay: 0s !important;
}

/* Bookmarks toolbar needs so extra rules */
#PersonalToolbar {
  transition: transform 400ms ease 0s !important;
  position: relative;
  z-index: 1;
}

/* Move up the content view */
:root[sessionrestored]:not([inFullscreen]) > body > #browser {
  margin-top: var(--uc-navbar-transform);
}
